body {
  /* background-color: antiquewhite; */
}

.container {
  display: grid;
  /* background-color: beige; */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  /* align-items: center; */
  /* justify-content: center; */
  width: 80%;
  margin: auto;
  column-gap: 10px;
  row-gap: 10px;
}

.sidebar {
  background-color: bisque;
  /* grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3; */
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.content-1 {
  background-color: black;
  color: #fff;
  /* justify-self: center; */
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
  height: 50vh;
}

.content-2 {
  background-color: burlywood;
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  height: 70vh;
}

.content-3 {
  background-color: brown;
  color: #fff;
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  height: 70vh;
}

.footer {
  background-color: cadetblue;
  grid-column: 1 /4;
  /* grid-row: 1 / 3; */
}

/* About Page */

.wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}

/* flex styling */
.flex {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-end;
  background-color: blanchedalmond;
  gap: 10px;
  min-height: 200px;
  height: 100vh;
}

.flex-box1 {
  align-self: stretch;
  padding: 20px;
  /* align-content: center; */
}

.flex-box2 {
  align-self: flex-start;
  padding: 20px;
}

.flex-box3 {
  /* align-self: first baseline; */
  padding: 20px;
}

.flex > div {
  /* flex: 1 1 150px; */
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 10px;
  background-color: burlywood;
  position: relative;
  /* align-items: end; */
  height: 100vh;
}

.grid-box1,
.grid-box2,
.grid-box3,
.grid-box4 {
  /* align-self: stretch; */
  padding: 20px;
}

.grid-box1{
  grid-column: 1 / 5;
  grid-row: 1 /2;
}

.grid-box3 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;

  /* grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3; */
  /* top: 40px; */
  /* left: 40px; */
  /* position: absolute; */
}

.item {
  /* background-color: red; */
  border: 1px solid black;
}

.text-center {
  text-align: center;
}
